/* reset */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* carousel */
.carousel{
  width: 800px;
  height: 500px;
  margin: 20px auto;
  display: flex;
  align-items: center;
}
.carousel i{
  font-size: 40px;
  cursor: pointer;
}
.carousel-imgs{
  height: 100%;
  position: relative;
}
.carousel-imgs img{
  width: 100%;
  object-fit: cover;
}
.carousel-bullets{
  background: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 5px;
  position: absolute;
  bottom: 60px;
  left: 50%;
  transform: translateY(-50%);
}
.carousel-bullets i{
  font-size: 20px;
}
