/* reset */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: orange;
  font-family: 'Indie Flower', cursive;
}
.title{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  font-size: 25px;
}
.title img{
  height: 80px;
}
/* carousel */
.carousel{
  width: 1200px;
  height: 700px;
  margin: 20px auto;
  display: flex;
  align-items: center;
}
.carousel i{
  font-size: 40px;
  cursor: pointer;
}
.carousel-imgs{
  height: 100%;
  position: relative;
  margin: 0 20px;
}
.carousel-imgs img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: 1s;
}
.carousel-bullets{
  background: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 5px;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}
.carousel-bullets i{
  font-size: 20px;
  margin-right: 10px;
}

.active{
  color: blue;
}
